<div class="cta text-right">

  <button (click)="login()" *ngIf="!activeCheck">Login</button>
  
  <button (click)="logout()" *ngIf="activeCheck">Logout</button>

</div>
<div>

    <p>
      <button routerLink="/customerdetails" routerLinkActive="active">CUSTOMER DETAILS</button>
    </p>
    <p>
      <button routerLink="/customerbenefits" routerLinkActive="active">CUSTOMER BENEFITS</button>
    </p>

    <p>
      <button routerLink="/customerreview" routerLinkActive="active">CUSTOMER REVIEW</button>
    </p>

</div>

<div>
  <router-outlet></router-outlet>
</div>
